@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.addtodo {
    position: sticky;
    top: 6%;
    margin-left: 10%;
    margin-right: 4%;
    margin-top: 6%;
    margin-bottom: 6%;
    width: 30%;
    height: 50%;
    padding: 1.5%;
    border: 2px solid rgb(114, 71, 114);
    box-shadow: rgb(96, 54, 96) 20px 20px 30px -10px;
    border-radius: 27px;
    font-family: 'Montserrat', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
}

#title,
#description,
#deadline {
    font-family: 'Montserrat', sans-serif;
}

input,
textarea {
    padding: 1.5%;
    margin-top: 10px;
    border-radius: 20px;
}

.Submitbtn {
    width: 25%;
    padding: 1.5%;
    margin-top: 10px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(53, 2, 53);
    color: white;
    cursor: pointer;
}

.Submitbtn:hover {
    background-color: rgb(114, 71, 114);
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
    .addtodo {
        width: 50%;
    }

    .Submitbtn {
        width: 30%;
    }
}

@media (max-width: 480px) {
    .addtodo {
        width: 80%;
    }

    .Submitbtn {
        width: 40%;
    }

    input,
    textarea {
        padding: 2%;
    }
}
